@import '../../main';

@keyframes bounce {
    0%, 100% {
        top: 50%;
        animation-timing-function: cubic-bezier(.92,0,.88,.48);

        box-shadow: 0 25px 250px 25px var(--dark-gray3);
    }

    45%, 55% {
        scale: 1 1.1;
    }
    50% {
        scale: 1 .7;
        top: 100%;
        animation-timing-function: cubic-bezier(0,0,0,1);

        box-shadow: 0 250px 500px 50px var(--dark-gray3);
    }
}


.banner {
    position: relative;
    @include doFlex(column, center, center, unset);
    width: 100%; min-height: 100vh;

    overflow: hidden;
    background: linear-gradient(0deg, var(--dark-gray3) 0, var(--gray3) 100%);
    

    h1 {
        @include centerAbsolute();
        top: calc(100% - 10rem);
        opacity: .1;
    }
}


.ball {
    @include centerAbsolute();
    display: block;
    min-width: 100px; max-width: 100px;
    min-height: 100px; max-height: 100px;

    border-radius: 100%;
    background-color: var(--gray3);
    box-shadow: 0 25px 50px 0 var(--dark-gray3);

    animation: bounce 2s ease infinite;
}


.block {
    .card {
        display: block;
        background-color: var(--gray3);
    }
}